* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 padding: 4vw ;
}

#root h1 {
  margin-bottom: 1rem;
}

#root input {
  height: 2rem;
  padding: .5rem;
  font-size: 1.25rem;
  margin-bottom: 2.5rem
}

#root p {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1rem;
}
.no-exercises {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 2px solid black;
  padding: 1rem;
  text-align: center;
}

.card div, .card h2 {
  text-transform: capitalize;
}

.card-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* grid-auto-flow: column; */
  width: 100%;

}
