* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4vw;
}

#root h1 {
  margin-bottom: 1rem;
}

#root input {
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
}

.exercise-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  position: relative;
}

.filter {
  position: absolute;
  left: 0;
  height: 100%;
  font-weight: 600;
  font-size: 1.25rem;
}
.filter:hover,
.clear:hover {
  cursor: pointer;
}

.clear:hover {
  background-color: rgb(214 211 209);
}
.clear {
  position: absolute;
  left: 70px;
  top: 0;
  /* height: 100%; */
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  background-color: transparent;
  /* transition: 0.1s ease-in-out; */
}

.dropdown,
.subdropdown {
  text-transform: capitalize;
}

.dropdown {
  font-weight: 700;
  font-size: 1.25rem;
  padding: 1rem;
  background-color: rgb(236, 229, 229);
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.subdropdown {
  margin-left: 0.75rem;
  transition-duration: 0.1s;
  font-size: 1rem;
  font-weight: 600;
  /* border: 1px solid blue; */
  /* height: 100% */
  border-bottom: 1px solid black;
  padding: 0.2rem;
}

.subdropdown:last-child {
  border: 1px solid red;
  border: none;
}

.subdropdown-container {
}

.subdropdown:hover {
  color: rgb(129, 123, 123);
}
#root p {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1rem;
}
.no-exercises {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 2px solid black;
  padding: 1rem;
  text-align: center;
}

.card div,
.card h2 {
  text-transform: capitalize;
}

.card-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* grid-auto-flow: column; */
  width: 100%;
}

@media all and (max-width: 900px) {
  .filter {
    position: relative;
  }

  .clear {
    position: relative;
    left: 0;
    margin-bottom: 1rem;
  }

  .dropdown {
    margin-top: 0rem;
  }

  #root input {
    margin-bottom: 1rem;
  }
}
